<app-nav></app-nav>

<div class="wrapper">
  <img src="assets/img/car.jpg">
  <img src="assets/img/ship.jpg" style="width: 100%">
  <div class="header">
    <h1>Welcome to Logistics</h1>
    <h4>About The Website</h4>
    <p>We created this site in hopes that users will be able to view certain services and
      be able to contact the providers.
    </p>
  </div>
</div>
<style>
  @keyframes img-1 {
    0% {
      opacity: 1;
    }
    44% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    94% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes img-2 {
    0% {
      opacity: 0;
    }
    44% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    94% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }



</style>
